<article class="post" itemscope itemType="http://schema.org/BlogPosting">
<% if (post.coverCaption) { %>
    <span class="post-header-cover-caption caption"><%= post.coverCaption %></span>
<% } %>
<% if (!post.coverImage || post.coverMeta === 'out') { %>
   <%- partial('contact/header')%>
<% } %>
<div class="post-content markdown" itemprop="articleBody">
    <div class="main-content-wrap">
        <%- post.content %>
        <br>
        <% if (post.form) { %>
            <%- partial('contact/form') %>
        <% } %>
    </div>
</div>
</article>
